openapi: 3.1.0
info:
  title: Nimble SDK Agents API
  version: 1.0.0
  description: The AI-Native SDK for Real-Time Web Data at scale
servers:
- url: https://sdk.nimbleway.com
tags:
- name: Agents
paths:
  /v1/agents/run:
    post:
      summary: Agent Run
      description: Execute Search Agent Realtime Endpoint
      tags:
      - Agents
      security:
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AgentPayload'
              examples:
              - agent: amazon_pdp
                params:
                  asin: B0DLKFK6LR
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AgentResponse'
                examples:
                - url: https://www.example.com/
                  task_id: e8ed8ef6-2657-43ba-98d5-a5c79ea7b551
                  status: success
                  status_code: 200
                  data:
                    html: '...'
                    markdown: MARKDOWN
                    parsing: {}
                    cookies: {}
                    screenshot: iVBORw0KGgoAAAANSUhEUgAAA...
                    fetch_request: []
                    network_capture: []
                    browser_actions: []
                    headers: {}
                  metadata:
                    query_time: '2026-02-09T10:26:05.817Z'
                    query_duration: 1877
                    response_parameters:
                      input_url: https://www.example.com/
                    driver: vx8
                    agent: agent_name
        '400':
          description: Unprocessable Entity - Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error402'
        '404':
          description: Agent Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    examples:
                    - failed
                  msg:
                    type: string
                    examples:
                    - Agent not found
                required:
                - status
                - msg
              example:
                status: failed
                msg: Agent not found
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /v1/agents/async:
    post:
      summary: Agent Async
      description: Execute Search Agent Async Endpoint
      tags:
      - Agents
      security:
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AgentAsyncPayload'
              examples:
              - agent: google_search
                params:
                  query: What happened last night in the NBA?
                  storage_url: s3://mu-s3-bucket.com/
                  storage_type: s3
                  callback_url: https://my-callback-url.com/
      responses:
        '200':
          description: Async Task Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
              example:
                status: success
                task:
                  id: 8e8cfde8-345b-42b8-b3e2-0c61eb11e00f
                  state: pending
                  created_at: '2026-01-24T12:36:24.685Z'
                  modified_at: '2026-01-24T12:36:24.685Z'
                  input: {}
        '400':
          description: Unprocessable Entity - Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error402'
        '404':
          description: Agent Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    examples:
                    - failed
                  msg:
                    type: string
                    examples:
                    - Agent not found
                required:
                - status
                - msg
              example:
                status: failed
                msg: Agent not found
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /v1/agents/batch:
    post:
      summary: Agent Batch
      tags:
      - Agents
      security:
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AgentBatchBody'
              examples:
              - inputs:
                - params:
                    keyword: iphone 15
                - params:
                    keyword: iphone 16
                - params:
                    keyword: iphone 17
                shared_inputs:
                  agent: amazon_serp
      responses:
        '200':
          description: Agent Batch Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
              example:
                batch_id: 4b0a90bf-c951-42e4-95b3-a95a65ba69fc
                batch_size: 1
                tasks:
                - id: 123e4567-e89b-12d3-a456-426614174000
                  state: pending
                  output_url: string
                  created_at: '2024-01-15T10:30:00Z'
                  modified_at: '2024-01-15T10:35:00Z'
                  account_name: string
                  input: null
                  batch_id: 4b0a90bf-c951-42e4-95b3-a95a65ba69fc
                  status_code: 200
                  api_type: extract
        '400':
          description: Unprocessable Entity - Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error402'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /v1/agents/generations:
    post:
      tags:
      - Agents
      summary: Generate Agent
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/CreateAgentGenerationRequest'
              - $ref: '#/components/schemas/CreateAgentRefinementRequest'
              title: Request
              examples:
              - prompt: I want an agent for books.toscrape.com category pages
                agent_name: books_toscrape_categories_nkjansdkj
                url: books.toscrape.com
                input_schema:
                  type: object
                  properties:
                    category:
                      type: string
                output_schema:
                  type: object
                  properties:
                    name:
                      type: string
                    price:
                      type: string
                    url:
                      type: string
                    availability:
                      type: string
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentGenerationResponse'
              example:
                id: 86441962-c8f5-4c24-b271-ee877d2dd865
                status: queued
                agent_name: books_toscrape_categories_nkjansdkj_2026_03_24_zco2isqi
                source_version_id: c51d09fc-c8f2-4b3a-a9bc-eaab88316217
                created_at: '2026-03-24T19:19:39.300002+00:00'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error402'
        '422':
          description: Unprocessable Entity - Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - BearerAuth: []
  /v1/agents/generations/{generation_id}:
    get:
      tags:
      - Agents
      summary: Get Generation
      security:
      - BearerAuth: []
      parameters:
      - name: generation_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Generation Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentGenerationResponse'
              example:
                id: 86441962-c8f5-4c24-b271-ee877d2dd865
                status: success
                agent_name: books_toscrape_categories_nkjansdkj_2026_03_24_zco2isqi
                source_version_id: c51d09fc-c8f2-4b3a-a9bc-eaab88316217
                generated_version_id: fee30209-2439-459b-985a-ba7f8d8d2325
                generated_version:
                  id: fee30209-2439-459b-985a-ba7f8d8d2325
                  agent_name: books_toscrape_categories_nkjansdkj_2026_03_24_zco2isqi
                  version_number: 2
                  metadata:
                    vertical: Other
                    data_source: books.toscrape.com
                    display_name: books_toscrape_categories_nkjansdkj
                    tags: []
                    domain: books.toscrape.com
                    is_displayed: false
                  steps: []
                  artifacts: {}
                summary: 'Done! The agent for **books.toscrape.com** category pages is fully configured and preview ran successfully. Here''s a summary of what was set up:


                  - **Browsing**: Navigates to category pages using a URL template with `category_slug` and `category_id` as inputs (e.g., `mystery` / `3`)

                  - **Parsing**: Extracts book data — `name`, `price`, `url`, and `availability` — from each listing on the category page'
                created_at: '2026-03-24T19:19:39.300002+00:00'
                started_at: '2026-03-24T19:19:39.307295+00:00'
                completed_at: '2026-03-24T19:22:01.638660+00:00'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error402'
        '422':
          description: Unprocessable Entity - Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /v1/agents:
    get:
      tags:
      - Agents
      security:
      - BearerAuth: []
      summary: List Agents
      parameters:
      - name: privacy
        in: query
        required: false
        schema:
          description: Filter by privacy level
          default: all
          type: string
          enum:
          - public
          - private
          - all
        description: Filter by privacy level
      - name: managed_by
        in: query
        required: false
        schema:
          description: Filter by who manage the agent
          type: string
          enum:
          - nimble
          - community
          - self_managed
        description: Filter by who manage the agent
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 250
          minimum: 1
          description: Number of results per page
          default: 100
          title: Limit
        description: Number of results per page
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Pagination offset
          default: 0
          title: Offset
        description: Pagination offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                - type: array
                  items:
                    properties:
                      name:
                        type: string
                        title: Name
                      is_public:
                        type: boolean
                        title: Is Public
                      managed_by:
                        type: string
                        title: Managed By
                      display_name:
                        type: string
                        title: Display Name
                      description:
                        anyOf:
                        - type: string
                        - type: 'null'
                        title: Description
                      vertical:
                        anyOf:
                        - type: string
                        - type: 'null'
                        title: Vertical
                      entity_type:
                        anyOf:
                        - type: string
                        - type: 'null'
                        title: Entity Type
                      domain:
                        anyOf:
                        - type: string
                        - type: 'null'
                        title: Domain
                    type: object
                    required:
                    - name
                    - is_public
                    - display_name
                    title: Agents
                  title: Response List Agents
                examples:
                - - name: aldi_clp
                    is_public: true
                    display_name: Aldi Category Landing Page
                    description: The Aldi Browse Products agent extracts structured product listings from Aldi’s category pages. This agent is ideal for monitoring category-level assortment, analyzing competitive inventory, and powering product discovery and pricing intelligence use cases
                    vertical: Ecommerce
                    entity_type: Category Landing Page (CLP)
                    domain: www.aldi.us
                    managed_by: nimble
                  - name: aldi_pdp
                    is_public: true
                    display_name: Aldi Product Details Page
                    description: 'The Aldi Product Detail Page Agent extracts structured data from individual product pages on Aldi. This agent is ideal for tracking competitor pricing, monitoring catalog changes, and powering product intelligence use cases.

                      '
                    vertical: Ecommerce
                    entity_type: Product Detail Page (PDP)
                    domain: https://www.aldi.us/
                    managed_by: nimble
                  - name: amazon_plp
                    is_public: true
                    display_name: Amazon CLP
                    description: The Amazon Browse Products agent extracts structured product listings from Amazon’s category pages. This agent is ideal for monitoring category-level assortment, analyzing competitive inventory, and powering product discovery and pricing intelligence use cases
                    vertical: Ecommerce
                    entity_type: Category Landing Page (CLP)
                    domain: www.amazon.com
                    managed_by: nimble
                  - name: amazon_pdp
                    is_public: true
                    display_name: Amazon Product Details Page
                    description: The Amazon Product Detail Page Agent extracts structured data from individual product pages on Amazon. This agent is ideal for tracking competitor pricing, monitoring catalog changes, and powering product intelligence use cases.
                    vertical: Ecommerce
                    entity_type: Product Detail Page (PDP)
                    domain: www.amazon.com
                    managed_by: nimble
  /v1/agents/{agent_name}:
    get:
      tags:
      - Agents
      security:
      - BearerAuth: []
      summary: Get Agent Details
      parameters:
      - name: agent_name
        in: path
        required: true
        schema:
          type: string
          title: Agent Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    name:
                      type: string
                      title: Name
                    is_public:
                      type: boolean
                      title: Is Public
                    managed_by:
                      type: string
                      title: Managed By
                    display_name:
                      type: string
                      title: Display Name
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                      title: Description
                    vertical:
                      anyOf:
                      - type: string
                      - type: 'null'
                      title: Vertical
                    entity_type:
                      anyOf:
                      - type: string
                      - type: 'null'
                      title: Entity Type
                    domain:
                      anyOf:
                      - type: string
                      - type: 'null'
                      title: Domain
                    output_schema:
                      anyOf:
                      - additionalProperties: true
                        type: object
                      - type: 'null'
                      title: Output Schema
                    input_properties:
                      anyOf:
                      - items:
                          properties:
                            name:
                              type: string
                              title: Name
                              default: ''
                            required:
                              type: boolean
                              title: Required
                              default: false
                            type:
                              type: string
                              title: Type
                              default: string
                            description:
                              anyOf:
                              - type: string
                              - type: 'null'
                              title: Description
                            is_localization_param:
                              type: boolean
                              title: Is Localization Param
                              default: false
                            is_pagination_param:
                              type: boolean
                              title: Is Pagination Param
                              default: false
                            rules:
                              anyOf:
                              - items:
                                  type: string
                                type: array
                              - type: 'null'
                              title: Rules
                            examples:
                              anyOf:
                              - items:
                                  type: string
                                type: array
                              - type: 'null'
                              title: Examples
                            default:
                              anyOf:
                              - type: string
                              - type: 'null'
                              title: Default
                          type: object
                          title: AgentInputProperty
                        type: array
                      - type: 'null'
                      title: Input Properties
                    feature_flags:
                      properties:
                        is_localization_supported:
                          type: boolean
                          title: Is Localization Supported
                          default: false
                        is_pagination_supported:
                          type: boolean
                          title: Is Pagination Supported
                          default: false
                      type: object
                      title: FeatureFlags
                  type: object
                  required:
                  - name
                  - is_public
                  - display_name
                  title: FullAgent
                examples:
                - name: amazon_pdp
                  is_public: true
                  display_name: Amazon Product Details Page
                  description: The Amazon Product Detail Page Agent extracts structured data from individual product pages on Amazon. This agent is ideal for tracking competitor pricing, monitoring catalog changes, and powering product intelligence use cases.
                  vertical: Ecommerce
                  entity_type: Product Detail Page (PDP)
                  domain: www.amazon.com
                  managed_by: nimble
                  output_schema:
                    product_title:
                      type: string
                      description: The name of the product
                    manufacturer:
                      type: string
                      description: The company that manufactured the product
                    product_url:
                      type: string
                      description: The direct Amazon URL of the product
                    pack_size:
                      type: string
                      description: The packaging or pack size information (e.g., 12-pack, 500ml)
                    web_price:
                      type: number
                      description: The current selling price of the product in USD
                    product_detail_column_and_information_within_table:
                      type: array
                      description: Tabular details about the product such as specifications or attributes
                      items:
                        type: object
                        properties:
                          field:
                            type: string
                          value:
                            type: string
                    product_availability_and_delivery_terms:
                      type: string
                      description: Shipping terms, delivery times, or availability details
                    unit_of_measure:
                      type: string
                      description: Unit of measurement for the product (e.g., oz, lb, ml, pack)
                    unit_of_measure_quantity:
                      type: number
                      description: Numeric quantity of the product in the specified unit of measure
                    selection_for_type_of_item_field:
                      type: string
                      description: Primary selection option field label (e.g., Size, Color)
                    selection_for_type_of_item_field_entry:
                      type: string
                      description: The selected value for the primary selection field
                    secondary_selection_for_type_of_item_field:
                      type: string
                      description: Secondary selection option field label (if applicable)
                    secondary_selection_for_type_of_item_field_entry:
                      type: string
                      description: The selected value for the secondary selection field
                    list_price:
                      type: number
                      description: The original price (before discounts) of the product in USD
                    product_hierarchy:
                      type: array
                      description: Breadcrumb navigation path or category hierarchy for the product
                      items:
                        type: string
                    reviews_statistics_percentage_five_to_zero:
                      type: object
                      description: Distribution of customer ratings (5-star through 0-star)
                      properties:
                        5_star:
                          type: string
                        4_star:
                          type: string
                        3_star:
                          type: string
                        2_star:
                          type: string
                        1_star:
                          type: string
                    review_scale:
                      type: number
                      description: Numerical rating scale used (usually 5)
                    availability:
                      type: boolean
                      description: Whether the product is in stock (true) or out of stock (false)
                    image_url:
                      type: string
                      description: The URL of the product's main image
                      format: uri
                    brand:
                      type: string
                      description: The brand name of the product
                    product_description:
                      type: string
                      description: Detailed text description of the product
                    publisher:
                      type: string
                      description: The publisher, distributor, or entity responsible for listing the product
                    average_of_reviews:
                      type: number
                      minimum: 0
                      maximum: 5
                      description: The average customer rating (0 to 5 stars)
                    number_of_reviews:
                      type: number
                      description: The total number of customer reviews for the product
                    sold_by:
                      type: string
                      description: The entity or seller offering the product
                    direct:
                      type: boolean
                      description: If seller is Amazon
                    ships_from:
                      type: string
                      description: The fulfillment source or warehouse shipping the product
                    payment:
                      type: string
                      description: Available payment methods or terms
                    packaging:
                      type: string
                      description: Product packaging details (e.g., box, bag, recyclable packaging)
                    amazons_choice:
                      type: boolean
                      description: Whether the product is marked as Amazon's Choice
                    best_sellers_category_1_name:
                      type: string
                      description: The name of the primary Best Seller category
                    best_sellers_category_1_rank:
                      type: string
                      description: The Best Seller rank of the product within the primary category
                    best_sellers_category_2_name:
                      type: string
                      description: The name of the secondary Best Seller category
                    best_sellers_category_2_rank:
                      type: string
                      description: The Best Seller rank of the product within the secondary category
                    climate_pledge_friendly:
                      type: boolean
                      description: Indicates if the product is part of Amazon's Climate Pledge Friendly program
                    warning:
                      type: string
                      description: Product warnings (e.g., choking hazard, safety notes)
                    special_feature:
                      type: string
                      description: Unique feature or benefit of the product
                    variants:
                      type: array
                      description: ASINs of related or variant products (e.g., other colors or sizes)
                      items:
                        type: string
                    brief_product_description:
                      type: array
                      description: Bullet-point features or highlights of the product
                      items:
                        type: string
                    size:
                      type: string
                      description: Dimensions or size specification (LxWxH)
                    color:
                      type: string
                      description: Color of the product
                    material:
                      type: string
                      description: Material composition of the product
                    recommended_uses:
                      type: string
                      description: Suggested uses or scenarios for the product
                    model:
                      type: string
                      description: Manufacturer's model number
                    country_of_origin:
                      type: string
                      description: Country where the product was manufactured
                    asin:
                      type: string
                      description: Amazon Standard Identification Number (ASIN) of the product
                    customers_say:
                      type: string
                      description: AI-generated summary of customer feedback
                    top_reviews:
                      type: array
                      description: Top reviews for the product (typically the most helpful or recent ones)
                      items:
                        type: object
                        properties:
                          stars:
                            type: number
                          review_title:
                            type: string
                          review_body:
                            type: string
                    technical_details:
                      type: array
                      description: Technical specifications or details of the product
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                          value:
                            type: string
                    brand_logo:
                      type: string
                      description: URL of the brand's logo
                    brand_story_background:
                      type: string
                      description: URL of the background image behind the brand logo
                    brand_description:
                      type: string
                      description: Text description of the brand
                    brand_store:
                      type: string
                      description: URL of the brand's Amazon store page
                    bought_in_past_month:
                      type: string
                      description: Recent sales trends, e.g., number of units bought in the past month
                    frequently_bought_with:
                      type: object
                      description: Items that are commonly purchased alongside this product
                      properties:
                        total_price:
                          type: string
                        products:
                          type: array
                          items:
                            type: object
                            properties:
                              price:
                                type: string
                              title:
                                type: string
                              asin:
                                type: string
                    long_text:
                      type: string
                    alternatives:
                      type: array
                      description: Alternative products available on Amazon
                      items:
                        type: object
                        properties:
                          asin:
                            type: string
                          price:
                            type: string
                          title:
                            type: string
                    4_stars_and_above:
                      type: array
                      description: Similar products with ratings of 4 stars or higher
                      items:
                        type: object
                        properties:
                          title:
                            type: string
                          price:
                            type: string
                          asin:
                            type: string
                    related_products:
                      type: array
                      description: Other products related to this item
                      items:
                        type: object
                        properties:
                          title:
                            type: string
                          price:
                            type: string
                          asin:
                            type: string
                    related_products_free_delivery:
                      type: array
                      description: Related products with free delivery eligibility
                      items:
                        type: object
                        properties:
                          title:
                            type: string
                          price:
                            type: string
                          asin:
                            type: string
                    alternate_products_for_top_3_alternates:
                      type: object
                      description: Details about substitute products for top 3 alternates
                      properties:
                        product_1_product_description:
                          type: string
                          description: 'Title/description text for alternate product #1.'
                        product_1_url:
                          type: string
                          description: 'Canonical Amazon ASIN URL for product #1 (e.g., https://www.amazon.com/dp/...).'
                        product_1_web_price:
                          type: string
                          description: 'Displayed price text for product #1 (as extracted, including currency symbol).'
                        product_1_feature:
                          type: string
                          description: 'Feature/attribute name for product #1.'
                        product_1_feature_value:
                          type: string
                          description: 'Value for the feature/attribute of product #1.'
                        product_2_product_description:
                          type: string
                          description: 'Title/description text for alternate product #2.'
                        product_2_url:
                          type: string
                          description: 'Canonical Amazon ASIN URL for product #2 (e.g., https://www.amazon.com/dp/...).'
                        product_2_web_price:
                          type: string
                          description: 'Displayed price text for product #2 (as extracted, including currency symbol).'
                        product_2_feature:
                          type: string
                          description: 'Feature/attribute name for product #2.'
                        product_2_feature_value:
                          type: string
                          description: 'Value for the feature/attribute of product #2.'
                        product_3_product_description:
                          type: string
                          description: 'Title/description text for alternate product #3.'
                        product_3_url:
                          type: string
                          description: 'Canonical Amazon ASIN URL for product #3 (e.g., https://www.amazon.com/dp/...).'
                        product_3_web_price:
                          type: string
                          description: 'Displayed price text for product #3 (as extracted, including currency symbol).'
                        product_3_feature:
                          type: string
                          description: 'Feature/attribute name for product #3.'
                        product_3_feature_value:
                          type: string
                          description: 'Value for the feature/attribute of product #3.'
                    alternate_product_1_product_description:
                      type: string
                      description: Description of the first alternate product
                    alternate_product_1_product_url:
                      type: string
                      description: URL of the first alternate product
                    alternate_product_1_web_price:
                      type: string
                      description: Price of the first alternate product
                    alternate_product_1_feature:
                      type: string
                      description: Highlighted feature of the first alternate product
                    alternate_product_1_feature_value:
                      type: string
                      description: Value associated with the feature of the first alternate product
                    feature:
                      type: string
                      description: Generic feature name of the product
                    feature_value:
                      type: string
                      description: Value corresponding to the generic product feature
                    UNSPSC:
                      type: string
                      description: The UNSPSC classification code for the product
                    agent_zip_code:
                      type: string
                      description: ZIP code of the responsible shipping agent or warehouse
                    climate_pledge_certification:
                      type: string
                      description: Certification name associated with Climate Pledge Friendly
                    UPC:
                      type: string
                      description: Universal Product Code (UPC) for the item
                    shipping_weight:
                      type: string
                      description: Weight of the product used for shipping calculations
                    product_dimensions:
                      type: string
                      description: Dimensions of the product package
                    suggested_use:
                      type: string
                      description: Suggested application or use instructions
                    extra_savings:
                      type: string
                      description: Additional savings offers available on the product
                    savings:
                      type: string
                      description: Current discount or savings on the product
                    subscribe_and_save:
                      type: boolean
                      description: Whether Subscribe & Save is available
                    subscribe_and_save_details:
                      type: string
                      description: Details about the Subscribe & Save program for this product
                    buy_x_get_y:
                      type: string
                      description: Buy-one-get-one or similar promotional offers
                    has_a_plus_section:
                      type: boolean
                      description: Whether the product page includes an A+ Content section
                    a_plus_headers:
                      type: array
                      description: Headers from A+ content sections
                      items:
                        type: string
                    scent:
                      type: string
                      description: Fragrance or scent of the product
                    cel_widgets:
                      type: array
                      description: Widgets or modules included on the product detail page
                      items:
                        type: string
                    subscription_price:
                      type: string
                      description: Discounted price for subscription orders
                    visible_images_count:
                      type: array
                      description: Number and details of visible images on the product page
                      items:
                        type: string
                    deal_description:
                      type: string
                      description: Details of any ongoing deals or promotions
                    sun_protection:
                      type: string
                      description: Level or type of sun protection (e.g., SPF 30)
                    bundle_asins:
                      type: array
                      description: ASINs of items sold together as a bundle
                      items:
                        type: string
                    video_count:
                      type: number
                      description: Number of product videos available on the listing
                    shipping_amount:
                      type: string
                      description: Shipping cost for the product
                    reviews_ai_summary:
                      type: string
                      description: AI-generated summary of customer reviews
                    review_mentions_with_positive_sentiment:
                      type: array
                      description: Review mentions categorized with positive sentiment
                      items:
                        type: string
                    review_mentions_with_neutral_sentiment:
                      type: array
                      description: Review mentions categorized with neutral sentiment
                      items:
                        type: string
                    review_mentions_with_negative_sentiment:
                      type: array
                      description: Review mentions categorized with negative sentiment
                      items:
                        type: string
                    replenishment_frequency_common:
                      type: string
                      description: Most common replenishment frequency (e.g., every month)
                    replenishment_frequency_options:
                      type: array
                      description: List of available replenishment frequency options
                      items:
                        type: string
                    option_name:
                      type: string
                      description: The name of a selectable product option
                    similar_item:
                      type: string
                      description: A product identified as similar to this one
                    sponsored_item:
                      type: string
                      description: Sponsored product promoted alongside the listing
                    delivery_time_estimate:
                      type: string
                      description: Estimated delivery time for the product
                    variations:
                      type: array
                      description: Different variations of the product (size, color, etc.)
                      items:
                        type: string
                    uom:
                      type: string
                      description: Unit of Measure
                    uomq:
                      type: number
                      description: Unit of Measure Quantity
                    moq:
                      type: number
                      description: Minimum Order Quantity
                    moq_price:
                      type: string
                      description: Minimum Order Quantity Price
                    shipping_time:
                      type: string
                      description: Estimated shipping time for the product
                    store_location:
                      type: string
                      description: Store location in scrape context.
                    price_per_unit:
                      type: number
                      description: Price of 1 unit in pack.
                    promos:
                      type: array
                      description: List of promotional sales and deals
                    coupons:
                      type: array
                      description: List of available coupons for this product
                    badges:
                      type: array
                      description: List of product badges as displayed below the product title
                  input_properties:
                  - name: asin
                    required: true
                    type: string
                    description: Product ID
                    rules:
                    - 'minLength: 1'
                    examples:
                    - B0DLKFK6LR
                    - B0177IUSTK
                    - B01N1N64V2
                    - B0B9RTKR72
                    - B0DQYPYVB6
                    - B06XC9321S
                    - B09RX4HKTD
                    - B082T6P545
                    - B08NWK2P1J
                    - B004MFME2G
                    default: null
                    is_localization_param: false
                    is_pagination_param: false
                  - name: zip_code
                    required: false
                    type: string
                    description: Zip code for location
                    rules:
                    - 'minLength: 1'
                    examples: null
                    default: '90210'
                    is_localization_param: true
                    is_pagination_param: false
                  feature_flags:
                    is_localization_supported: true
                    is_pagination_supported: false
components:
  schemas:
    AsyncResponse:
      type: object
      properties:
        status:
          type: string
          examples:
          - success
        task:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: Unique task identifier
              examples:
              - 8e8cfde8-345b-42b8-b3e2-0c61eb11e00f
            state:
              type: string
              description: Current state of the task
              enum:
              - pending
              - processing
              - completed
              - failed
              examples:
              - pending
            created_at:
              type: string
              format: date-time
              description: Task creation timestamp
              examples:
              - '2026-01-24T12:36:24.685Z'
            account_name:
              type: string
              description: The user account name
              examples:
              - my-account
            api_type:
              type: string
              description: The api endpoint used
              enum:
              - agent
              - extract
              examples:
              - extract
            modified_at:
              type: string
              format: date-time
              description: Task last modification timestamp
              examples:
              - '2026-01-24T12:36:24.685Z'
            input:
              type: object
              description: Original request input parameters
          required:
          - id
          - state
          - created_at
          - modified_at
          - input
      required:
      - status
      - task
      examples:
      - status: success
        task:
          id: 8e8cfde8-345b-42b8-b3e2-0c61eb11e00f
          state: pending
          account_name: my-account
          api_type: extract
          created_at: '2026-01-24T12:36:24.685Z'
          modified_at: '2026-01-24T12:36:24.685Z'
          input: {}
    AgentParams:
      type: object
      minProperties: 1
      description: Agent input parameters. At least one agent-specific key-value pair is required (e.g., `keyword`, `product_id`). Refer to the specific agent's documentation.
      additionalProperties: true
      properties:
        country:
          type: string
          description: Country used to access the target URL, use ISO Alpha-2 Codes
          examples:
          - US
        locale:
          type: string
          description: Language preference for the search results. Use LCID standard
          examples:
          - en
        tag:
          type: string
          description: User-defined tag for request identification
          examples:
          - campaign-2024-q1
        parse:
          type: boolean
          description: Whether to parse the response content
          examples:
          - true
    Error400:
      type: object
      title: Error400
      properties:
        status:
          type: string
          example: failed
          examples:
          - failed
        msg:
          type: string
          description: Validation error message describing what went wrong
          example: Invalid request parameters
          examples:
          - Invalid request parameters
        error:
          type: string
          description: The validation error type
          example: PARAMETERS_FAILED_JSON_SCHEMA_VALIDATION_ERROR
          examples:
          - PARAMETERS_FAILED_JSON_SCHEMA_VALIDATION_ERROR
        details:
          type: object
          description: Detailed validation error information
          example:
            schema_validation_errors:
            - instancePath: ''
              schemaPath: '#/required'
              keyword: required
              params:
                missingProperty: search_engine
              message: must have required property 'search_engine'
      required:
      - status
      - msg
      example:
        status: failed
        msg: Invalid request parameters
        error: PARAMETERS_FAILED_JSON_SCHEMA_VALIDATION_ERROR
        details:
          schema_validation_errors:
          - instancePath: ''
            schemaPath: '#/required'
            keyword: required
            params:
              missingProperty: search_engine
            message: must have required property 'search_engine'
    AgentVersionMetadata:
      properties:
        data_source:
          type: string
          title: Data Source
          description: The data source of the agent
          examples:
          - Amazon
        description:
          anyOf:
          - type: string
            title: Description
            description: The description of the agent
            examples:
            - The Amazon Product Detail Page Agent extracts structured data from individual product pages on Amazon. This agent is ideal for tracking competitor pricing, monitoring catalog changes, and powering product intelligence use cases.
          - type: 'null'
          title: Description
          description: The description of the agent
        tags:
          items:
            type: string
          type: array
          title: Tags
          description: The tags of the agent
          examples:
          - - Ecommerce
            - Search
        domain:
          anyOf:
          - type: string
            title: Domain
            description: The domain of the agent
            examples:
            - www.amazon.com
            - www.google.com
          - type: 'null'
          title: Domain
          description: The domain of the agent
        vertical:
          anyOf:
          - type: string
            title: Category
            description: The category of the agent
            examples:
            - Ecommerce
            - Search
          - type: 'null'
        entity_type:
          anyOf:
          - type: string
            title: Entity Type
            description: The entity type of the agent
            examples:
            - Product Detail Page (PDP)
            - Search Engine Results Page (SERP)
          - type: 'null'
      type: object
      required: []
      title: AgentVersionMetadata
      description: The metadata of the agent version
    AgentBatchBody:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/AgentBatchInputsPayload'
            required: []
        shared_inputs:
          allOf:
          - $ref: '#/components/schemas/AgentAsyncPayload'
            required:
            - Agents
      required:
      - inputs
      - shared_inputs
      description: Request body for executing a batch of agent requests
    AgentPayload:
      type: object
      title: AgentPayload
      properties:
        agent:
          type: string
          description: The agent's name to execute
          examples:
          - google_search
        params:
          type: object
          description: The agent's input parameters, for example query, prodcut_id, etc. Depands on the agent used.
          allOf:
          - $ref: '#/components/schemas/AgentParams'
          examples:
          - params:
              keyword: iphone 17
              zip_code: '90210'
          required: []
        localization:
          description: Controls if localization sould be enabled (default false). Some agent support localization based on zip_code or store_id on the site it self. Relevant only when agent is supporting localization
          type: boolean
        formats:
          type: array
          description: Output formats to include in the response alongside `data.parsing`. By default, only structured parsed data is returned.
          items:
            type: string
            enum:
            - html
            - markdown
            - headers
            - links
      required:
      - agent
      - params
      description: Request body model for the /agent/run endpoint
    AgentAsyncPayload:
      type: object
      title: AgentPayload
      properties:
        agent:
          type: string
          description: The agent's name to execute
          examples:
          - google_search
        params:
          type: object
          description: The agent's input parameters, for example query, prodcut_id, etc. Depands on the agent used.
          allOf:
          - $ref: '#/components/schemas/AgentParams'
          - $ref: '#/components/schemas/AsyncOptions'
          examples:
          - params:
              keyword: iphone 17
              zip_code: '90210'
          required: []
        localization:
          description: Controls if localization sould be enabled (default false). Some agent support localization based on zip_code or store_id on the site it self. Relevant only when agent is supporting localization
          type: boolean
        formats:
          type: array
          description: Output formats to include in the response alongside `data.parsing`. By default, only structured parsed data is returned.
          items:
            type: string
            enum:
            - html
            - markdown
            - headers
            - links
      required:
      - agent
      - params
      description: Request body model for the /agent/run endpoint
    Error429:
      type: object
      title: Error429
      properties:
        status:
          type: string
          example: failed
          examples:
          - failed
        msg:
          type: string
          example: Rate limit exceeded
          examples:
          - Rate limit exceeded
      required:
      - status
      - msg
      example:
        status: failed
        msg: Rate limit exceeded
    AgentGenerationResponse:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The id of the agent generation
        status:
          type: string
          title: Status
          description: The status of the agent generation
        agent_name:
          type: string
          title: Agent Name
          description: The name of the agent
        version_id:
          type: string
          format: uuid
          title: Version Id
          description: The version id of the agent
        summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Summary
          description: The summary of the agent generation
        error:
          anyOf:
          - type: string
            title: Error
            description: The error of the agent generation
          - type: 'null'
          title: Error
          description: The error of the agent generation
      type: object
      required:
      - id
      - status
      title: AgentGenerationResponse
    CreateAgentRefinementRequest:
      properties:
        prompt:
          type: string
          title: Prompt
          description: The prompt to use for the agent refinement
        from_agent:
          type: string
          title: From Agent
          description: The name of the agent to refine
          examples:
          - amazon_pdp
      type: object
      required:
      - prompt
      - from_agent
      title: CreateAgentRefinementRequest
    CreateAgentGenerationRequest:
      properties:
        prompt:
          type: string
          title: Prompt
          description: The prompt to use for the agent generation
        agent_name:
          type: string
          title: Agent Name
          description: The name of the agent to generate
        url:
          type: string
          title: Url
          description: The URL to use for the agent generation
          examples:
          - https://www.amazon.com/s?k=laptop
        metadata:
          anyOf:
          - $ref: '#/components/schemas/AgentVersionMetadata'
          - type: 'null'
          title: Metadata
          description: The metadata of the agent version
        input_schema:
          additionalProperties: true
          type: object
          title: Input Schema
          description: The input schema for the agent generation
          examples:
            type: object
            properties:
              category:
                type: string
        output_schema:
          additionalProperties: true
          type: object
          title: Output Schema
          description: The output schema for the agent generation
          examples:
            type: object
            properties:
              name:
                type: string
      type: object
      required:
      - prompt
      - url
      title: CreateAgentGenerationRequest
    AgentResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: The URL that was extracted
        task_id:
          type: string
          format: uuid
          description: Unique identifier for the extraction task
        status:
          type: string
          description: Status of the extraction
          enum:
          - success
          - failed
        status_code:
          type: integer
          description: HTTP status code from the target website
        data:
          type: object
          description: Data from the extraction
          properties:
            html:
              type: string
              description: Raw HTML content of the page
            headers:
              type: object
              description: Response headers from the target website
            parsing:
              type: object
              description: Parsed data when parsing is enabled
            markdown:
              type: string
              description: Markdown content when markdown conversion is enabled
            cookies:
              type: object
              description: Cookies when cookie capture is enabled
            fetch_request:
              type: array
              description: Captured executed fetch requests when enabled
              items:
                type: object
            network_capture:
              type: array
              description: Captured network activity when enabled
              items:
                type: object
            browser_actions:
              type: array
              description: Browser actions results
              items:
                type: object
            screenshot:
              type: string
              description: Base64 encoded screenshot when enabled (requires rendering)
        metadata:
          type: object
          description: Metadata from the extraction
          properties:
            query_time:
              type: string
              format: date-time
              description: Timestamp when the query was executed
            input_url:
              type: string
              format: uri
              description: The original input URL
            driver:
              type: string
              description: Driver used for extraction (depends on target domain and rendering configuration)
              examples:
              - vx8
            agent:
              type: string
              description: Agent name used for extraction
              examples:
              - amazon_pdp
        warnings:
          type: array
          description: List of warnings
          items:
            type: string
      required:
      - url
      - task_id
      - status
      - status_code
      - data
      - metadata
    BatchResponse:
      type: object
      properties:
        batch_id:
          type: string
          description: Unique identifier for the batch.
        batch_size:
          type: number
          description: Number of tasks in the batch.
        tasks:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 1
                description: Unique task identifier.
                examples:
                - 123e4567-e89b-12d3-a456-426614174000
              state:
                type: string
                enum:
                - pending
                - success
                - error
                description: Current state of the task.
                examples:
                - pending
              output_url:
                description: Storage location of the output data.
                type: string
              status_url:
                type: string
                format: uri
                description: URL for checking the task status.
                examples:
                - https://sdk.nimbleway.com/v1/tasks/123e4567-e89b-12d3-a456-426614174000
              download_url:
                description: URL for downloading the task results.
                examples:
                - https://sdk.nimbleway.com/v1/tasks/123e4567-e89b-12d3-a456-426614174000/results
                type: string
                format: uri
              error:
                description: Error message if the task failed.
                examples:
                - Connection timeout
                type: string
              error_type:
                description: Classification of the error type.
                examples:
                - timeout_error
                type: string
              created_at:
                description: Timestamp when the task was created.
                examples:
                - '2024-01-15T10:30:00Z'
                type: string
              modified_at:
                description: Timestamp when the task was last modified.
                examples:
                - '2024-01-15T10:35:00Z'
                type: string
              account_name:
                description: Account name that owns the task.
                type: string
              input:
                description: Original input data for the task.
              _query: {}
              batch_id:
                description: Batch ID if this task is part of a batch.
                examples:
                - 4b0a90bf-c951-42e4-95b3-a95a65ba69fc
                type: string
              status_code:
                description: HTTP status code from the task execution.
                examples:
                - 200
                type: number
              api_type:
                type: string
                enum:
                - web
                - serp
                - ecommerce
                - social
                - media
                - agent
                - extract
            required:
            - id
            - state
            - status_url
            - created_at
            - input
            - _query
            additionalProperties: false
          description: List of created tasks.
      additionalProperties: false
      description: Response when a batch of extract tasks is created successfully.
    AgentBatchInputsPayload:
      type: object
      title: AgentBatchInputsPayload
      properties:
        params:
          type: object
          description: The agent's input parameters, for example query, prodcut_id, etc. Depands on the agent used.
          allOf:
          - $ref: '#/components/schemas/AgentParams'
          examples:
          - params:
              keyword: iphone 17
              zip_code: '90210'
          required: []
        localization:
          description: Controls if localization sould be enabled (default false). Some agent support localization based on zip_code or store_id on the site it self. Relevant only when agent is supporting localization
          type: boolean
        formats:
          type: array
          description: Output formats to include in the response alongside `data.parsing`. By default, only structured parsed data is returned.
          items:
            type: string
            enum:
            - html
            - markdown
            - headers
            - links
      required:
      - agent
      - params
      description: Request body model for the /agent/run endpoint
    Error402:
      type: object
      title: Error402
      properties:
        status:
          type: string
          example: failed
          examples:
          - failed
        msg:
          type: string
          description: Error message indicating the payment issue
          example: trial expired
          enum:
          - no budget
          - limit reached
          - trial expired
          - trial quota finished
      required:
      - status
      - msg
      example:
        status: failed
        msg: trial expired
    AsyncOptions:
      type: object
      properties:
        storage_type:
          type: string
          description: Storage type for async results. Use s3 for Amazon S3 and gs for Google Cloud Platform.
          enum:
          - s3
          - gs
          examples:
          - s3
        storage_url:
          type: string
          description: 'Repository URL where output will be saved. Format: s3://Your.Bucket.Name/your/object/name/prefix/ - Output will be saved as TASK_ID.json'
          examples:
          - s3://Your.Repository.Path/
        callback_url:
          type: string
          format: uri
          description: A URL to callback once the data is delivered. The API will send a POST request with task details (without the requested data) when the task completes.
          examples:
          - https://your.callback.url/path
        storage_compress:
          type: boolean
          description: When set to true, the response saved to storage_url will be compressed using GZIP format. If false or not set, response will be saved uncompressed.
          examples:
          - false
        storage_object_name:
          type: string
          description: Custom name for the stored object instead of the default task ID
          examples:
          - my task
    Error500:
      type: object
      title: Error500
      properties:
        success:
          type: string
          example: 'false'
          examples:
          - 'false'
        task_id:
          type: string
          example: 1ed1dbeb-8f34-4fd1-bb2d-a72bacae2ef3
          examples:
          - 1ed1dbeb-8f34-4fd1-bb2d-a72bacae2ef3
        message:
          type: string
          example: can't download the query response - please try again
          examples:
          - can't download the query response - please try again
      required:
      - success
      - task_id
      - message
      example:
        success: 'false'
        task_id: 1ed1dbeb-8f34-4fd1-bb2d-a72bacae2ef3
        message: can't download the query response - please try again
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
